.image_class {
    height: 250px;
	width: 400px;
}

#navbar_logo {
    height: 40px;
}

body {
	background-color: rgb(255, 255, 255);
	background-image: url("images/background.jpg");
	background-size: cover;
	padding: 10px;
}

.container {
	background-color: rgba(0, 255, 0, 0.75);
	border-radius: 10px;
	padding: 5px;
}

.col_imagesborders {
	margin: 15px;
	padding: 0px;
	border-radius: 5px;
	border: solid black 1px;
}

.image_class2 {
	height: 350px;
	width: 400px;
}

.imagesborders2 {
	margin: 15px;
	padding: 0px;
	border-radius: 5px;
	border: solid black 1px;
}

.logo_class {
	height: 350px;
	width: 350px;
}

.logo_class2 {
	height: 325px;
	width: 650px;
}

.logo_class3 {
	height: 350px;
	width: 425px;
}