.image_class {
    height: 250px;
	width: 400px;
}

#navbar_logo {
    height: 40px;
}

body {
	background-color: rgb(255, 255, 255);
	padding: 10px;
}

.container {
	background-color: rgba(255, 255, 0, 0.85);
	border-radius: 10px;
	padding: 5px;
}

.col_imagesborders {
	margin: 15px;
	padding: 0px;
	border-radius: 5px;
	border: solid black 1px;
}

.image_class2 {
	height: 350px;
	width: 400px;
}

.imagesborders2 {
	margin: 15px;
	padding: 0px;
	border-radius: 5px;
	border: solid black 1px;
}